h1 {
    text-align: center;
    color: black;
    background-color: darkslategray;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: black;
}

h2 {
    text-align: center;
    color: black;
    background-color: darkslategray;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: black;
}

.interiorpng {
    display: inline-block;
    margin: 50px;
    margin-right: auto;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
}

body {
    background-color: gray;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
    border-style: groove;
    border-width: 5px;
    border-color: black;
}

b {
    color: black;
}

p {
    color: black;
}