h1 {
    text-align: center;
    color: red;
    background-color: blue;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: black;
}

h2 {
    text-align: center;
    color: red;
    background-color: blue;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    border-style: double;
    border-width: 5px;
    border-color: black;
}

.interiorpng {
    display:inline-block;
    margin: 50px;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
}

.fundoindex.jpg {
    margin: 50px;
}

body{   
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
    border-style: groove;
    border-width: 5px;
    border-color: black;
    background-image: url("fundoindex.jpg");
}

.body1 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    
}

b {
    color: red;
}

p {
    color: darkred;
    font-weight: bold;
    font-style: italic;
}

.cromwellpng {
    display: block;
    margin: 50px;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
}

.churchillpng {
    display: block;
    margin: 50px;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
}

.achillespng {
    display: block;
    margin: 50px;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
}

.tortoisepng {
    display: block;
    margin: 50px;
    max-width: 500px;
    border-radius: 7px;
    border-style: double;
    border-width: 7px;
    border-color: black;
    
}

